#app {
  max-width: 1280px;
  padding: 2rem;
}

label{
  font-size: 30px;
}

form input[type='text']{
  width: 300px;
  padding: 15px;
}

form input[type='text']::placeholder{
  font-size: 20px;
}

button{
  width: 100px;
  height: 50px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  font-size: 13px;
  background-color: blue;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.8;
  transition: .5s;

}

button:hover{
  opacity: 1;
}